{% load static %}
{% include 'Shared/header.html' %}
{% include 'Shared/sidebar.html' %}
{% include 'Shared/navbar.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.14/js/bootstrap-select.min.js"></script>

<style>
    h3 {
        padding-right: 10px;
        padding-left: 5%;
        font-weight: bold;
        color: #0F195E;
    }

    .contenedor-redes{
        margin:auto;
        padding: 20px 10px;
        border-radius:15px;
        min-width: min-content;
        max-width: 70%;
    }
    .redes-texto{
        display: flex;
        justify-content: flex-start;
        padding-top: 4rem;
        align-items: center;
    }
    .redes-texto h5{
        color: #FE3A00;
        font-size: 15px;
    }
    .contenedor-imagen{
        display:flex;
        align-items: baseline;
    }

    .contenedor-texto{
	    display:block;
    }
    .imagen{
        height: 6rem;
        text-align: center;
        background-color: #EDEEF0;
        border-radius: 10px;
        display: flex;
        margin-bottom: 10px;
        margin-right:20px;
        width: 7rem;
    }
    .imagen img{
        width: auto;
        height: 30%;
        margin: auto;
    }
    .contenedor-searchbar{
        display: flex;
        align-items: center;
        border-radius: 5px;
        height: 40px;
        font-size: 1rem;
    }
    .boton1 .btn,
    #nuevo-btn{
        margin: auto;
        text-align: center;
        display:block;
        background: linear-gradient(to right, #2153FF, #0F195E);
        color: white;
        font-weight: bolder;
        font-size: 10px;
        width: 9rem;
        height: 2.5rem;
    }
    #nuevo-btn{
        overflow:hidden;
        position: relative;
        width: 7rem;
        margin-left: 10px;
        margin-top: 0px;
    }
    #nuevo-btn input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #nuevo-btn p{
        color: white;
        margin: 5px;
        font-weight: bolder;
        font-size: 10px;
        font-family: inherit;
    }
    .input-container .input, select {
        background: #EDEEF0;
    }
    .redes-link{
        cursor: pointer;
    }

</style>
<script type="text/javascript">


    $(document).ready(function() {
        $('.selectpicker').selectpicker();
        $(document).on("submit", "form", function(event){
            event.preventDefault();
            $.ajax({
                type: $(this).attr("method"),
                beforeSend: function(){
                    $('.ajax-loader').css("visibility", "visible");
                },
                url: $(this).attr("action"),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data) {
                    var modalDiv = $("#modal-div");
                    modalDiv.html(data.html);
                    $("#myModal").modal();
                    if(data.result=="ok"){
                        location = '/redesSociales/';
                    }
                },
                complete: function(){
                    $('.ajax-loader').css("visibility", "hidden");
                },
                error: function (data) {
                    console.log('An error occurred.');
                    var modalDiv = $("#modal-div");
                    modalDiv.html(data.responseText);
                },
            });
        });
        $('.redes-link').click(function() {
            limpiarCampos();
            location = '/redesSociales/';
        });

    });

    var loadImage = function(event) {
        var output = document.getElementById('img-subir');
        output.src="{% static 'img/iconos_administrador/agregar_imagen.png' %}"
        output.style="height:100%;";
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    function limpiarCampos() {
    	var inputs = $(".input")
    	//LIMPIANDO INPUTS
    	inputs.each(function() {
    		$(this).val("")
    	})
    }

    function verificarCampos() {
    	var verificacion = true
    	var inputs = $(".input")
    	inputs.each(function() {if ($(this).val() == "") {return false}})
    	if (! verificacion) {alert("Por favor ingrese la información requerida.")}
    	return verificacion
    }

</script>
<div class="col-12">
  <div class="col-md-12">
    <div class="row redes-texto">
        <h3 class="redes-link">REDES SOCIALES</h3>
        <h5>> Nueva red social</h5>
    </div>
    <div >
    <form id="form" action="/redesSociales/add_redes/" method="POST" enctype="multipart/form-data" class="col-md-12">
        {% csrf_token %}
        <div class="row contenedor-redes">
            <div class="col-md-6 contenedor-texto">
                <div class="input-container">
			        <label>Red Social</label>
                    <input type="text" class="form-control input" name="nombre" required>
		        </div>
                <br>
                <div class="input-container">
                    <label>Enlace</label>
			        <input type="text" class="form-control input" name="enlace" required>
		        </div>
                <br>
            </div>
            <div class="col-md-6 contenedor-imagen">
                <div class="imagen">
                    <img id="img-subir"class="img-subir center-block" src="{% static 'img/iconos_administrador/agregar_imagen.png' %}">
                </div>
                <div id="nuevo-btn" class="btn btn-primary">
                    <p>SUBIR ICONO</p>
                    <input class="upload" type="file" accept=".jpg, .png, .jpeg, .svg" class="form-control input" onchange="loadImage(event)" name="image">
                </div>
            </div>
        </div>
        <div class = "boton1"><button type=submit class="btn btn-sucess" >CREAR RED SOCIAL</button></div>
    </form>
    </div>

  </div>
</div>


<div id="modal-div"></div>