{% load static %} {% include 'Shared/header.html' %} {% include 'Shared/navbar.html' %} {% include 'Shared/sidebar.html' %}
<style>
    div#img-central {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img#logo-central {
        width: 50%;
        opacity: 0.4;
    }
</style>

<head>
    <title>Administrador</title>
</head>
<div id="img-central">
    <img id="logo-central" src="https://cdn.discordapp.com/attachments/1009846868806729738/1014286378298777670/cabuto_IUVHKai2.png">

</div>