{% load static %} {% include 'Shared/header.html' %} {% include 'Shared/navbar.html' %} {% include 'Shared/sidebar_superadmin.html' %}
<style>
    div#img-central {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    img#logo-central {
        width: 50%;
        opacity: 0.1;
    }
</style>

<head>
    <title>SuperAdministrador</title>
</head>
<div id="img-central">
    <img id="logo-central" src="{% static 'img/cabuto.png' %}">

</div>