{% load static %}{% include 'Shared/header.html' %}{% include 'Shared/navbar.html' %}{% include 'Shared/sidebar.html' %}
<style>
    .upload-container1 .img-subir-preview1{
        height: 9rem;
        display: none;
    }

    .upload-container1 .img-default1{
        width: 2rem;
        height: 2rem;
        margin-top: 4rem;
    }

    .upload-container1{
	    height:10rem;
	    width: 22rem;
	    text-align:center;
	    background-color:#EDEEF0;
	    border-radius: 10px;
    }

    .input{
   	    background-color:#D8D9DD;
        border-radius: 8px;
    }

    .modal-footer{
	    text-align:center;
	    display: block;
    }

    .btn-warning{
        background-color: #87868A;
    }

    .btn-sucess{
        background: linear-gradient(to right, #2153FF, #0F195E);
    }

    .btn{
        color: white;
        width: 9rem;
    }

    textarea[name="descripcion1"]{
        height: 10rem;
    }

    h2{
        color: #0F195E;
        font-family: calibri;
        font-weight: bold;
    }

    select{
        width: 10rem;
    }

    .lbl{
        text-align: center;
        width: 100%;
    }

</style>
<div id="popup" class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">EDITAR PRODUCTO</h2>
                <!--<button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>-->
        </div>
        <form action="" method="POST" enctype="multipart/form-data" class="col-md-12">
            {% csrf_token %}
            <div class="modal-body">
                <div class="row contenedor-notificaciones">
            <div class="col-md-6 contenedor-texto">
                <div class="input-container">
			        <label>Nombre de la Oferta</label>
                    <textarea class="form-control input"  id= "nombre" name="nombre" required>{{datos_mostrar.nombre}}</textarea>
		        </div>
                <br>
                <div class="input-container">
                    <label>Descripción de la Oferta</label>
                    <textarea class="form-control input" id="descripcion"name="descripcion"  required>{{datos_mostrar.descripcion}}</textarea>

		        </div>
                <br>
                <div class="input-container">
                    <div class = "row precio-stock">
                        <div class = "col-md-6 precio">
                            <label>Precio sin oferta</label>
			                <input type="number" step="0.001" class="form-control input" value={{datos_mostrar.precioAntes}} id= "precioAntes" name="precioAntes" required>
			                <label>Precio de la oferta</label>
			                <input type="number" step="0.001" class="form-control input" value={{datos_mostrar.precio}} id = "precio" name="precio" required>
                        </div>
                        <div class = "col-md-6 stock">
                            <label>Cantidad</label>
			                <input type="text" class="form-control input" value={{datos_mostrar.cantidad}} id = "stock" name="stock" required>
                        </div>

                    </div>

		        </div>
		        <br>
            </div>
            <div class="col-md-6 contenedor">
                            <div class="upload-container1 center-block">
					            <label class="btn btn-default btn-sm center-block btn-file lbl" id="lbl1">
                                    <input type="file" style="display: none;" accept=".jpg, .png, .jpeg, .svg" id="input-image1" value={{datos_mostrar.photo_url}} class="form-control input" name="input-image1" required>
                                    <img class="img-subir-preview1 center-block" id="img-preview1" src="">
                                    <img class="img-default1" id="img-default1" src="{% static 'img/iconos_administrador/agregar_imagen.png' %}">
                                </label>
                            </div>

            </div>
        </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" onclick="location.href='../../ofertas/'" id="limpiarCampos-btn" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-sucess" id="guardar-btn" type="submit">Editar</button>
            </div>
        </form>
    </div>
</div>
<script>
    var inputImage1=document.getElementById("image1");
    var previewImage1=document.getElementById("img-preview1");
    var previewDefault1=document.getElementById("img-default1");

    inputImage1.addEventListener("change", function(){
        var file1 = this.files[0];
        if (file1){
            var reader1= new FileReader();

            previewDefault1.style.display="none";
            previewImage1.style.display="block";
            previewImage1.style.margin="auto";

            reader1.addEventListener("load", function(){
                previewImage1.setAttribute("src", this.result);

            });
            reader1.readAsDataURL(file1);
        }

    });


    document.getElemtById("nombre").val={{datos_mostrar.nombre}};
    document.getElemtById("descripcion").val={{datos_mostrar.descripcion}};
    document.getElemtById("precioAntes").val={{datos_mostrar.precioAntes}};
    document.getElemtById("precio").val={{datos_mostrar.precio}};
    document.getElemtById("stock").val={{datos_mostrar.cantidad}};

</script>
<script type="text/javascript" src="{% static 'js/formulario.js' %}"></script>
