{% load static %} {% include 'Shared/header.html' %} {% include 'Shared/navbar.html' %} {% include 'Shared/sidebar_superadmin.html' %}
<style>
    .sub-container {
        margin-left: 27rem;
        margin-top: 5rem;
    }
    
    .title-form-container {
        color: #0F195E;
    }
    
    .cajaTexto {
        color: #87868A;
        background-color: #D8D9DD;
        border: none;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 8px 8px 8px 8px;
        height: 3rem;
        width: 28rem;
        padding-left: 2rem;
        font-size: large;
    }
</style>
<div class="main-container">
    <div class="sub-container">
        <div class="title-form-container">
            <h1 class="title-form-h1">EMPRESAS</h1>
        </div>
        <div class="form-row col-md-12">
            <div class="col-md-4 form-group contTexto">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input id="id_password" type="password" class="cajaTexto form-control" placeholder="Buscar">
            </div>
        </div>

    </div>
</div>