{% load static %}
{% include 'Shared/header.html' %}
{% include 'Shared/sidebar.html' %}
{% include 'Shared/navbar.html' %}

<style>
    h3 {
        padding-top: 4rem;
        padding-left: 5%;
        font-weight: bold;
        color: #0F195E;
        margin: auto;
    }
    .contenedor-notificaciones{
        margin:auto;
        padding: 20px 10px;
        border-radius:15px;
        min-width: min-content;
        max-width: 85%;
    }
    .notificaciones{
        text-align: center;
    }
    thead th{
        background-color: #FE3A00;
        color:white;
        padding: 6px !important;
        vertical-align: middle !important;
        line-height: 1rem;
        border:0px:
    }
    tr th:first-child {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
    }
    tr th:last-child {
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }
    tbody td{
        border-top: 2px solid rgba(15,25,94,0.3) !important;
        border-bottom: 1px solid rgba(15,25,94,0.3);
        padding: 1rem !important;
        vertical-align: middle !important;
        color:#444242;
    }
    tr:first-child td {
        border-top: none !important;
    }
    table th{
        border: none !important;
    }
    .contenedor-filtro{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .contenedor-searchbar{
        display: flex;
        align-items: center;
        border-radius: 5px;
        height: 40px;
        font-size: 1rem;
    }

    #buscar{
        background: url("{% static 'img/iconos_administrador/buscar.png' %}") no-repeat scroll #D8D9DD;
        padding-right: 30px;
        margin:20px;
    }
    .pagination{
        justify-content: center;
        margin-top:10px;
    }
    .pagination .active{
        width: 1.6rem;
        background: #0f195e;
        color: white;
        text-align: center;
        border-radius: 0.5rem;
        margin: 0px 20px;
        height: 1.5rem;
        font-weight: bolder;
        font-size: 14px;
        padding-top: 2px;
    }
    .boton1 .btn{
        margin: auto;
        text-align: center;
        background: linear-gradient(to right, #2153FF, #0F195E);
        color: white;
        font-weight: bolder;
        font-size: 10px;
        width: 9rem;
        height: 2.5rem;
    }
    .boton1 a{
        display:flex;
        justify-content: center;
        align-items:center;
    }

    .pagination li:first-child a,
    .pagination li:last-child a,
    .pagination li:first-child span,
    .pagination li:last-child span{
        color: #0f195e;
        font-size: 13px;
    }
    .img-borrar,.img-editar{
      height: 1rem;
    }
    .img-producto{
      width: 3.5rem;
    }.total-clientes{
        width: 90%;
        border-top: 3px solid #0F195E;
        padding-top: 10px;
        margin-top: 2rem;
        color: #444242;
    }
    .total-clientes span:first-child{
        font-weight: bold;
        padding-right: 25px;
        padding-left: 35%;
        color: #0F195E;
    }

</style>
<script type="text/javascript">
    $(document).ready(function() {
        var input = document.getElementById("buscar");
        input.value="";
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           location = '?busqueda='+input.value;
          }
        });
        var modalDiv = $("#modal-div");
        $(".open-modal").on("click", function() {
          $.ajax({
            beforeSend: function(){
                $('.ajax-loader').css("visibility", "visible");
            },
            url: $(this).attr("data-url"),
            success: function(data) {
                modalDiv.html(data);
                $("#myModal").modal();
            },
            complete: function(){
                $('.ajax-loader').css("visibility", "hidden");
            }
          });
        });
    });
</script>
<div class="col-12">
  <div class="col-md-12">
    <h3 class="row">Cupones</h3>
    <div class="row contenedor-filtro">
        <div class="contenedor-searchbar">
            <select name="establecimiento3" onchange="location = '?estable='+this.value;">
                <option>--- Establecimiento: ---</option>
                <option value=0>Todos</option>
                {% for data in estab3 %}
                    <option value={{data.id_establecimiento}}>{{data.nombre}}</option>
                {% endfor %}
            </select>
            <input type='text' class="form-control" id='buscar' placeholder="Buscar">
            <div class = "boton1"><a class="btn btn-sucess open-modal" id="nuevo-btn" data-url="tipo_cupon/">NUEVO CUPÓN </a></div>
        </div>
    </div>

    <div class="contenedor-notificaciones">
        {% if datos %}
        <table class="table notificaciones">
            <thead>
                <tr>
                <th> </th>
                <th>Nombre</th>
                <th>Establecimiento</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for data in datos %}
                    <tr>
                    <td><a class="btn btn-lg"><img class="img-producto" src={{data.photo_url}}></a></td>
                    <td>{{data.nombre}}</td>
                    <td>{{data.id_establecimiento}}</td>
                    <td>{{data.fecha_inicio|date:"d/m/Y"}}</td>
                    <td>{{data.fecha_fin|date:"d/m/Y"}}</td>
                    <td>{{data.cantidad}}</td>
                    <td>{{data.descripcion}}</td>
                    <td>
                        <div class = "iconos">
                        <a class="btn btn-sm open-modal" data-url="editar_cupon/{{data.id_cupon}}"><img class="img-editar" src="{% static 'img/iconos_administrador/editar.png' %}"></a>
                        <a class="btn btn-sm erase" href="eliminar_cupon/{{data.id_cupon}}" onclick="return confirm('¿Está seguro que desea eliminar este elemento?');"><img class="img-borrar" src="{% static 'img/iconos_administrador/borrar.png' %}"></a>
                        </div>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="total-clientes">
            <span>Total Cupones: </span><span>{{datos.paginator.count}}</span>
        </div>
        {% else %}
        <h3 style="display: table;">No existen datos para presentar</h3>
        {% endif %}
    </div>
    {% if datos.has_other_pages %}
      <ul class="pagination">
        {% if datos.has_previous %}
            {% if buscar == None %}
                <li><a href="./?page={{ datos.previous_page_number }}">Anterior</a></li>
            {% else %}
                <li><a href="./?page={{ datos.previous_page_number }}&busqueda={{buscar}}">Anterior</a></li>
            {% endif %}
        {% else %}
          <li class="disabled"><span>Anterior</span></li>
        {% endif %}
        <li class="active"><span>{{ datos.number }} <span class="sr-only">(current)</span></span></li>
        {% if datos.has_next %}
            {% if buscar == None %}
                <li><a href="./?page={{ datos.next_page_number }}">Siguiente</a></li>
            {% else %}
                <li><a href="./?page={{ datos.next_page_number }}&busqueda={{buscar}}">Siguiente</a></li>
            {% endif %}
        {% else %}
          <li class="disabled"><span>Siguiente</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>


<div id="modal-div" class="modal-div modal-lg"></div>