{% load static %}

<style>
    .titulo-red {
        padding:0px;
        padding-bottom: 10px;
        padding-left: 5%;
        font-weight: bold;
        color: #0F195E;
    }

    .contener-notificaciones{
        margin:auto;
        padding: 20px 0px;
        border-radius:15px;
    }
    .notificaciones-texto{
        display: flex;
        justify-content: flex-start;
        padding-top: 4rem;
        align-items: center;
    }
    .notificaciones-texto h5{
        color: #FE3A00;
        font-size: 15px;
    }
    .contenedor-imagen, .contenedor-texto{
	    display:block;
	    margin:auto;
    }
    .imagen{
        height:20rem;
        width:100%;
	    text-align:center;
	    background-color:#EDEEF0;
	    border-radius: 10px;
	    display:flex;
	    margin:auto;
	    margin-bottom: 10px;
    }
    .imagen img{
        width: inherit;
        margin: auto;
    }
    .contenedor-searchbar{
        display: flex;
        align-items: center;
        border-radius: 5px;
        height: 40px;
        font-size: 1rem;
    }
    .boton1 .btn,
    #nuevo-btn{
        margin: auto;
        text-align: center;
        display:block;
        background: linear-gradient(to right, #2153FF, #0F195E);
        color: white;
        font-weight: bolder;
        font-size: 10px;
        width: min-content;
        height: 2.5rem;
    }
    #nuevo-btn{
        overflow:hidden;
        position: relative;
    }
    #fromDate, #toDate{
        color: #0F195E;
        background: #D8D9DD;
    }
    #nuevo-btn input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #nuevo-btn p{
        color: white;
        margin: 5px;
        font-weight: bolder;
        font-size: 10px;
        font-family: inherit;
    }
    .input-container .input, select {
        background: #EDEEF0;
    }
    .notificaciones-link{
        cursor: pointer;
    }
    .fila{
        justify-content: space-between;
        max-width: 100%;
        margin: 0;
    }
    .fila .input-container {
        width: 45%;
    }

    .input-container-Texto {
        height: 75%;
    }
</style>
<script type="text/javascript">

    $(document).ready(function() {
        $("#guardar-btn").click(function() {
    	    if (verificarCampos()) {
    		    $("#form").submit()
                $('.ajax-loader').css("visibility", "visible");
        	}
        });

        $('.notificaciones-link').click(function() {
            location = '/cupones/';
        });
        var now = new Date();
        var month = (now.getMonth() + 1);
        var day = now.getDate();
        if (month < 10)
            month = "0" + month;
        if (day < 10)
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;
        var from = document.getElementById("fromDate");
        from.setAttribute("min", today);
        var to = document.getElementById("toDate");
        to.setAttribute("min", today);
        document.getElementById("fromDate").onchange = function () {
            var input = document.getElementById("toDate");
            input.setAttribute("min", this.value);
        }
        document.getElementById("toDate").onchange = function () {
            var input = document.getElementById("fromDate");
            input.setAttribute("max", this.value);
        }

    });

    var loadImage = function(event) {
        var output = document.getElementById('img-subir');
        output.src="{% static 'img/iconos_administrador/agregar_imagen.png' %}"
        output.style="height:auto;width: inherit";
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    function limpiarCampos() {
    	var inputs = $(".input")
    	//LIMPIANDO INPUTS
    	inputs.each(function() {
    		$(this).val("")
    	})
    }

    function verificarCampos() {
    	var verificacion = true
    	var inputs = $(".input")
    	//VERIFICANDO CADA CAMPO
    	inputs.each(function() {if ($(this).val() == "") {verificacion = false}})
    	//DISPARANDO ALERTA SI ES NECESARIA
    	if (! verificacion) {alert("Por favor ingrese la información requerida.")}
    	return verificacion
    }

    $('textarea').keyup(function () {

        var characterCount = $(this).val().length,
            current = $('#current'),
            maximum = $('#maximum'),
            theCount = $('#the-count');

        current.text(characterCount);

        //Colores
        if (characterCount < 20) {
            current.css('color', '#666');
        }
        if (characterCount > 20 && characterCount < 30) {
            current.css('color', '#6d5555');
        }
        if (characterCount > 30 && characterCount < 50) {
            current.css('color', '#793535');
        }
        if (characterCount > 50 && characterCount < 75) {
            current.css('color', '#841c1c');
        }
        if (characterCount > 75 && characterCount < 80) {
            current.css('color', '#8f0001');
        }

        if (characterCount >= 80) {
            maximum.css('color', '#8f0001');
            current.css('color', '#8f0001');
            theCount.css('font-weight', 'bold');
        } else {
            maximum.css('color', '#666');
            theCount.css('font-weight', 'normal');
        }
    });

</script>
<div id="myModal" class="modal fade"  role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close cerrar-modal" data-dismiss="modal">&times;</button>
        </div>
        <div id="body-modal" class="modal-body mCustomScrollbar">
        <h3 class="titulo-red">EDITAR CUPÓN</h3>
    <form action="editar_cupon/{{data.id_cupon}}" method="POST" enctype="multipart/form-data" class="col-md-12">
        {% csrf_token %}

        <div class="row contener-notificaciones">
            <div class="col-md-8 contenedor-texto">
                <div class="input-container">
			        <label>Nombre del cupón</label>
                    <input type="text" class="form-control input" name="nombre" value="{{data.nombre}}" required>
		        </div>
                <br>
                <div class="row fila">
                    <div class="input-container">
                        <label>Fecha inicio:</label>
                        <input type='date' class="form-control" id='fromDate' name="from" value={{inicio}} required/>
    		        </div>
                    <div class="input-container">
    			        <label>Fecha fin:</label>
    			        <input type='date' class="form-control" id='toDate' name="to" value={{fin}} required/>
    		        </div>
		        </div>
		        <br>

                    <div class="input-container">
                        <label>Cantidad:</label>
    			        <input type="number" class="form-control input" name="cantidad" value="{{data.cantidad}}" required>
    		        </div>
    		        <br>
                    <div class="input-container">
    			        <label>Descripción:</label>
    			        <textarea class="form-control input" name="descripcion" rows="3" maxlength="90" required>{{data.descripcion}}</textarea>
    			        <div id="the-count">
                            <span id="current">0</span>
                            <span id="maximum">/ 90</span>
                        </div>
    		        </div>
    		        <br>
                    {% if tipo == 'P' %}
                        <label>Id de Producto:</label>
                        <input list="brow" name="producto" id="producto" value={{cuponesProducto.id_producto.id_producto}} required>
                        <datalist id="brow" name="producto" required>
                        {% for producto in productosLista %}
                            <option class="input" value={{producto.id_producto}} name="producto" >{{producto.nombre}}</option>
                        {% endfor %}
                        </datalist>
                        <div class="input-container">
                            <label>Cantidad a comprar:</label>
                            <input type="number"  class="form-control input" name="cantidadComprar" value={{cuponesProducto.cantidad}} required>
                        </div>
                    {% else %}
                        <div class="input-container">
                            <label>Monto a gastar:</label>
                            <input type="number" step="0.01" class="form-control input" name="monto" value={{cuponesMonto.monto}} required>
                        </div>
                    {% endif %}
            </div>
            <div class="col-md-4 contenedor-imagen">
                <div class="input-container1">
				<label>Establecimiento</label>
                <br>
                <select name="id_establecimiento1" id="id_establecimiento1" required>
                    {% for entry in estab %}
                        {% if data.id_establecimiento.id_establecimiento == entry.id_establecimiento %}
                            <option class="input" value={{entry.id_establecimiento}} name="id_establecimiento1" selected> {{entry.nombre}}</option>
                        {% else %}
                            <option class="input" value={{entry.id_establecimiento}} name="id_establecimiento1" >{{entry.nombre}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
				</div>
                <br>
                <div class="imagen">
                    <img id="img-subir"class="img-subir center-block" src="https://cabutoshop.pythonanywhere.com/media/{{data.image}}">
                </div>
                <div id="nuevo-btn" class="btn btn-primary">
                    <p>SUBIR IMAGEN</p>
                    <input class="upload" type="file" accept=".jpg, .png, .jpeg, .svg" class="form-control input" onchange="loadImage(event)" name="image" value="https://cabutoshop.pythonanywhere.com/media/activado.png">
                </div>
            </div>
        </div>
        <div class = "boton1"><button class="btn btn-sucess" >EDITAR</button></div>
    </form>
  </div>
    </div>
  </div>
</div>