{% load static %}
{% include 'Shared/header.html' %}
{% include 'Shared/sidebar.html' %}
{% include 'Shared/navbar.html' %}

<style>

    select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: rgb(0, 0, 0);
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
    }
    /* Remove IE arrow */
    select::-ms-expand {
    display: none;
    }
    /* Custom Select wrapper */
    .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    }
    /* Arrow */
    .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #918f8f;
    transition: .25s all ease;
    pointer-events: none;
    }
    /* Transition */
    .select:hover::after {
    color: #0501ec;
    }

    h3 {
        padding-right: 10px;
        padding-left: 5%;
        font-weight: bold;
        color: #0F195E;
    }

    .contenedor-notificaciones{
        margin:auto;
        padding: 20px 10px;
        border-radius:15px;
        min-width: min-content;
        max-width: 85%;
    }
    .notificaciones-texto{
        display: flex;
        justify-content: flex-start;
        padding-top: 4rem;
        align-items: center;
    }
    .notificaciones-texto h5{
        color: #FE3A00;
        font-size: 15px;
    }
    .contenedor-imagen, .contenedor-texto{
	    display:block;
    }
    .imagen{
        height:15rem;
	    text-align:center;
	    background-color:#EDEEF0;
	    border-radius: 10px;
	    display:flex;
	    margin-bottom: 10px;
    }
    .imagen img{
        width: auto;
        height: 20%;
        margin: auto;
    }
    .contenedor-searchbar{
        display: flex;
        align-items: center;
        border-radius: 5px;
        height: 40px;
        font-size: 1rem;
    }
    .boton1 .btn,
    #nuevo-btn{
        margin: auto;
        text-align: center;
        display:block;
        background: linear-gradient(to right, #2153FF, #0F195E);
        color: white;
        font-weight: bolder;
        font-size: 12px;
        width: 10rem;
        height: 3rem;
    }
    #nuevo-btn{
        overflow:hidden;
        position: relative;
    }
    #nuevo-btn input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #nuevo-btn p{
        color: white;
        margin: 5px;
        font-weight: bolder;
        font-size: 10px;
        font-family: inherit;
    }
    .input-container .input, select {
        background: #EDEEF0;
    }
    .notificaciones-link{
        cursor: pointer;
    }
    .modal-body{
        padding:1rem 3rem;
    }

    #mapa{
        height: 23rem;
        width: 23rem;
        margin: auto;
    }
    .cerrar-modal{
        margin-top: 20px;
        text-align: end;
        margin-right: 20px;
    }
    #img-ubicacion{
        height:3rem;
        cursor: pointer;
    }

</style>
<script type="text/javascript">
    
    $(document).ready(function() {

        $(document).on("submit", "form", function(event){
            event.preventDefault();
            $.ajax({
                type: $(this).attr("method"),
                beforeSend: function(){
                    $('.ajax-loader').css("visibility", "visible");
                },
                url: $(this).attr("action"),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data)
                    var modalDiv = $("#modal-div");
                    modalDiv.html(data.html);
                    $("#myModal").modal();
                    if(data.result=="ok"){
                        location = '/crud_repartidores/';
                    }
                },
                complete: function(){
                    $('.ajax-loader').css("visibility", "hidden");
                },
                error: function (data) {
                    console.log('An error occurred.');
                    var modalDiv = $("#modal-div");
                    modalDiv.html(data.responseText);
                },
            });
        });
        $('.notificaciones-link').click(function() {
            location = '/crud_repartidores/';
        });

    });

    $(document).ready(function() {
        $("#guardar-btn").click(function() {
    	    if (verificarCampos()) {
    		    $("#form").submit()
        	}
        });

    });



    function limpiarCampos() {
    	var inputs = $(".input")
    	//LIMPIANDO INPUTS
    	inputs.each(function() {
    		$(this).val("")
    	})
    }

    function verificarCampos() {
    	var verificacion = true
    	var inputs = $(".input")
    	//VERIFICANDO CADA CAMPO
    	inputs.each(function() {if ($(this).val() == "") {verificacion = false}})
    	//DISPARANDO ALERTA SI ES NECESARIA
    	if (! verificacion) {alert("Por favor ingrese la información requerida.")}
    	return verificacion
    }

</script>
<div class="col-12">
    <div class="col-md-12">
      <div class="row notificaciones-texto">
          <h3 class="notificaciones-link">REPARTIDORES</h3>
          <h5>> Editar Repartidor</h5>
      </div>
      <form action="" method="POST" enctype="multipart/form-data" class="col-md-12">
          {% csrf_token %}
          <div class="row contenedor-notificaciones">
              <div class="col-md-6 contenedor-texto">
                  <div class="input-container">
                      <label>Nombres:</label>
                      <input type="text" class="form-control input" name="nombre" value="{{data.nombre}}" required>
                  </div>
                  <br>
                  <div class="input-container">
                      <label>Apellido:</label>
                      <input type="text" class="form-control input" name="apellido" value="{{data.apellido}}" required>
                  </div>
                  <br>
                  <div class="input-container">
                      <label>Teléfono:</label>
                      <input type="text" class="form-control input" name="telefono" value="{{data.telefono}}" required>
                  </div>
                  <br>
              </div>
              <div class="col-md-6 contenedor-texto">
                  <div class="input-container">
                      <label>Chat_ID:</label>
                      <input type="text" class="form-control input" name="chat" value="{{data.token}}" required>
                  </div>
                  <br>
                  <div class="input-container">
                    <label>Estado:</label>
                    <div class="select">
                        <select name="estado" required>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                </div>
                <br>
              </div>
          </div>
          <br>
          <div class = "boton1"><button class="btn btn-sucess" id="nuevo-btn" >EDITAR REPARTIDOR</button></div>
      </form>
  
    </div>
  </div>
  
  